<% provide(:title, "About Community Impact Bucks") %>
<div class="about">
<p class="first-para">VolunteeringBucks is a service provided by Community Impact Bucks, the Volunteer Centre for Buckinghamshire.  It is a web portal where charities can advertise their volunteering opportunities and people can look for and apply for roles that interest them.</p>
<br/>
<p>For more information about Volunteering, please see our <%= link_to 'Individual FAQs', individual_faq_path, class: "red" %> or <%= link_to 'Organisation FAQs', organization_faq_path, class: "red" %></p>
<br/>
<p><b>For more information about Community Impact Bucks and our services please see our main website <%= link_to 'www.communityimpactbucks.org.uk', "http://www.communityimpactbucks.org.uk", target: "_blank", class: "red"  %></b></p>
</div>