<h2 class="form-header">Admin Dashboard</h2>

<div class="row">
<div class="col-md-3 col-md-offset-1">
<h4 class="subheading">Manage Data</h4>
<hr>

<%= link_to "Skills", admin_skills_path, class: "btn btn-primary form-button form-control" %>
<%= link_to "Interests", admin_interests_path, class: "btn btn-primary form-button form-control" %>
</div>
</div>
<br/>
<br/>
<br/>
<br/>
