<div class="wpb_wrapper">
      <p><strong>Volunteering Frequently Asked Questions</strong></p>
<ul>
<li><strong>What can I get from volunteering</strong><strong>?</strong></li>
<li><a href="http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#What can I do as a volunteer?" onclick="javascript:window.open('http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#What can I do as a volunteer?'); return false;"><strong>What types of things can I do as a volunteer?</strong></a></li>
<li><a href="http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#How do I Start Volunteering?" onclick="javascript:window.open('http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#How do I Start Volunteering?'); return false;"><strong>Where do I start?</strong></a></li>
<li><a href="http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#How Much Time do I Have to Give as a Volunteer?" onclick="javascript:window.open('http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#How Much Time do I Have to Give as a Volunteer?'); return false;"><strong>How much time is involved?</strong></a></li>
<li><a href="http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#I Have Specialist Professional Skills can I use These in a Volunteering Role?" onclick="javascript:window.open('http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#I Have Specialist Professional Skills can I use These in a Volunteering Role?'); return false;"><strong>I have specialist business skills – can I use these in a volunteering role?</strong></a></li>
<li><a href="http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#Will I Be Paid Expenses?" onclick="javascript:window.open('http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#Will I Be Paid Expenses?'); return false;"><strong>Will I be paid expenses?</strong></a></li>
<li><a href="http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#Will I Get Paid for my Time?" onclick="javascript:window.open('http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#Will I Get Paid for my Time?'); return false;"><strong>Will I get paid for my time?</strong></a></li>
<li><a href="http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#Will I Receive Training?" onclick="javascript:window.open('http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#Will I Receive Training?'); return false;"><strong>Will I receive training?</strong></a></li>
<li><strong>What does the organisation need from me before I start?</strong></li>
<li><a href="http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#Can I Leave if I Don't Like It?" onclick="javascript:window.open('http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#Can I Leave if I Don't Like It?'); return false;"><strong>Can I leave if the role isn’t for me?</strong></a></li>
<li><a href="http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#Will Volunteering Affect my Benefits?" onclick="javascript:window.open('http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#Will Volunteering Affect my Benefits?'); return false;"><strong>Will volunteering affect my benefits?</strong></a></li>
<li><a href="http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#Can I volunteer if I have a disability?" onclick="javascript:window.open('http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#Can I volunteer if I have a disability?'); return false;"><strong>Can I volunteer if I have a disability?</strong></a></li>
<li><a href="http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#Can I Volunteer with a Criminal Conviction?" onclick="javascript:window.open('http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#Can I Volunteer with a Criminal Conviction?'); return false;"><strong>Can I volunteer with a criminal conviction?</strong></a></li>
<li><a href="http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#Do I Need a Criminal Records Bureau Check?" onclick="javascript:window.open('http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#Do I Need a Criminal Records Bureau Check?'); return false;"><strong>Do I need a DBS check?</strong></a></li>
<li><a href="http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#I Work for a Company Can we as Employees Volunteer as a Small Group?" onclick="javascript:window.open('http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#I Work for a Company Can we as Employees Volunteer as a Small Group?'); return false;"><strong>I work for a company – can employees volunteer as a small group?</strong></a></li>
<li><a href="http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#How Old do you Have to be to Volunteer?" onclick="javascript:window.open('http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#How Old do you Have to be to Volunteer?'); return false;"><strong>Are there any age restrictions to volunteering?</strong></a></li>
<li><strong>Can I volunteer if I am from overseas?</strong></li>
<li><strong>Can I volunteer if my faith means that I need to pray while I am volunteering? </strong></li>
<li><a href="http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#I've applied for a volunteer role but not heard anything, what do I do?" onclick="javascript:window.open('http://www.communityimpactbucks.org.uk/pages/volunteering-faq.html#I've applied for a volunteer role but not heard anything, what do I do?'); return false;"><strong>I’ve applied for a volunteer role but not heard anything, what do I do?</strong></a></li>
</ul>
<p><strong>What can I get from volunteering?</strong></p>
<p>People have different reasons and motivations for volunteering, they may include:</p>
<ul>
<li>to have fun, meet new people and increase social networks</li>
<li>to help my community and/or give something back</li>
<li>to gain experience for employment, like learning new skills such as communication and teamwork</li>
<li>to add to my CV and get a reference</li>
<li>to try something new like working with children or the elderly</li>
<li>to provide structure to my week</li>
<li>to help people going through something I’ve experienced</li>
<li>doing something worthwhile</li>
</ul>
<p>&nbsp;</p>
<p>Any of these are good reasons to volunteer. If you are clear what your motivation is and what you are hoping to gain or give by volunteering, this will help you to find the right opportunity.</p>
<p><strong>What types of things can I do as a volunteer?</strong></p>
<p>There are loads of different opportunities available – do something you’re already familiar with, or take the plunge and try something completely new – the majority of organisations involving volunteers will value your time and energy above anything else, and will probably offer training to help you in your new role. Sometimes organisations do require specific skills, but if you’re not sure ring them up for more information. If that role is not suitable, there may be something else. Here are a few examples of volunteer roles:</p>
<ul>
<li>Office administration such as updating databases, sending out information</li>
<li>Shop work like sorting stock and displays or serving customers</li>
<li>Use business skills – e.g. develop a marketing strategy, or write a business plan</li>
<li>Become a Trustee – get involved in the running of a charity</li>
<li>Events – help plan and organise fundraising events</li>
<li>IT – show other volunteers and staff how to use computers</li>
<li>Environment – go out in the countryside to clear paths or manage woodland</li>
<li>Sports – coach sports at after school clubs</li>
<li>Visit an elderly person</li>
<li>Drive someone to a hospital appointment</li>
</ul>
<p><strong>Where do I start?</strong></p>
<p>Organisations in Buckinghamshire can advertise their volunteer vacancies on VolunteeringBucks.org.uk. So you can search for volunteer opportunities on this site and apply to them directly.</p>
<p><strong> How much time is involved?</strong></p>
<p>The great thing about volunteering is that it’s so varied and flexible you can usually find something to fit in with your life style. It does not have to be the same day or time every week, it could be for a one-off event, a short project or a regular activity. Or you may have some spare moments when you could help from home over the internet. Before you start volunteering have a think about when, how often and how long you want to volunteer for. Then have a look for opportunities which match up to what you want to do.</p>
<p><strong>I have specialist business skills – can I use these in a volunteering role?</strong></p>
<p>There are many organisations in Buckinghamshire that require support from volunteers with business skills in areas including marketing, IT, HR, finance and many others; this assistance is highly valued. You may be on a career break, currently unemployed, retired, or wanting to volunteer in addition to working. If you are interested in using your business skills to benefit the local community, you can find a whole range of roles on <a href="http://volunteeringbucks.org.uk/">VolunteeringBucks.org.uk</a>, and apply directly.</p>
<p><strong>Will I be paid expenses?</strong></p>
<p>Although organisations that involve volunteers are encouraged to pay reasonable expenses to volunteers such as travel and refreshments, there is no obligation for them to do so. &nbsp;If there are any expenses that you feel you need to help you volunteer (such as the bus fare to travel to your place of volunteering), it is advisable to discuss this directly with the organisation. The roles listed on <a href="http://volunteeringbucks.org.uk/">VolunteeringBucks.org.uk</a> state if expenses will be paid.</p>
<p><strong>Will I get paid for my time?</strong></p>
<p>A volunteer is defined as someone who willingly gives their time to a good cause. You will not get paid for your time but usually you will be reimbursed certain expenses from the organisation you volunteer with, so that volunteering does not leave you out of pocket (please refer to the section on expenses above).</p>
<p><strong>Will I receive training?</strong></p>
<p>It is the responsibility of the organisation to ensure that volunteers are able to carry out the role they have applied to do, whatever that may be. Some roles may call for substantial training and support, but others may need less formal training. It really does depend on the type of volunteering you will be doing. You can ask questions about training and induction when you speak to or meet with the organisation.</p>
<p><strong>What does the organisation need from me before I start?</strong></p>
<p>For some voluntary roles, you may just have a chat with someone from the organisation. However depending upon the role some organisations may ask you for some or all of the following:</p>
<ul>
<li>application form</li>
<li>references</li>
<li>interview</li>
<li>criminal record checks – now called DBS checks (especially if volunteers are working with vulnerable people)</li>
</ul>
<p>&nbsp;</p>
<p><strong>Can I leave if the role isn’t for me?</strong></p>
<p>Yes of course. You are under no obligation to keep volunteering in a role or for an organisation that you are unhappy with. In the first instance, it is always a good idea to speak to someone appropriate about your concerns, for example your supervisor.</p>
<p><strong>Will volunteering affect my benefits?</strong></p>
<p>Volunteering should not affect any state benefits you receive, provided that the only money you get from volunteering is to cover expenses, like travel costs and that you continue to meet the conditions of the benefit you get.</p>
<p>It is important that you tell your Job Centre Plus adviser before you start volunteering. For further information see the leaflets in the links below.</p>
<p><a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/264508/dwp1023.pdf" onclick="javascript:window.open('https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/264508/dwp1023.pdf'); return false;"><u>https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/264508/dwp1023.pdf</u></a></p>
<p><a href="http://www.volunteering.org.uk/images/stories/Volunteering-England/Documents/Free-Information-Sheets/information_sheet_volunteering_and_state_benefits_2011.pdf?phpMyAdmin=ea19469af65d57852a6dcf96ae252f42&amp;phpMyAdmin=af59e0793933f8849c29e6a3a0aa550d&amp;phpMyAd" onclick="javascript:window.open('http://www.volunteering.org.uk/images/stories/Volunteering-England/Documents/Free-Information-Sheets/information_sheet_volunteering_and_state_benefits_2011.pdf?phpMyAdmin=ea19469af65d57852a6dcf96ae252f42&amp;phpMyAdmin=af59e0793933f8849c29e6a3a0aa550d&amp;phpMyAd'); return false;"><u>http://www.volunteering.org.uk/images/stories/Volunteering-England/Documents/Free-Information-Sheets/information_sheet_volunteering_and_state_benefits_2011.pdf?phpMyAdmin=ea19469af65d57852a6dcf96ae252f42&amp;phpMyAdmin=af59e0793933f8849c29e6a3a0aa550d&amp;phpMyAdmin=aOV51K4pN6n2U-SVePLZzBRWAjd</u></a></p>
<p><strong>Can I volunteer if I have a disability?</strong></p>
<p>Yes, many organisations are fully equipped to deal with a variety of access and support needs. You can discuss any support needs you have with the organisation you are interested in volunteering with.</p>
<p><strong>Can I volunteer with a criminal conviction?</strong></p>
<p>Many people with a criminal conviction do volunteer, however it is best if you declare any criminal convictions to the organisation that you would like to volunteer with. This will not necessarily mean that you cannot volunteer, but it may limit the roles you can do depending on the nature of the conviction.</p>
<p><strong>Do I need a DBS check?</strong></p>
<p>Whether you need a DBS (Disclosure and Barring Service) check or not will depend on the volunteer role you will be undertaking; usually this will be when you are volunteering for an opportunity that requires working with vulnerable people such as children, elderly or people with mental health difficulties. This is a government run service that checks whether you have a Criminal Record or are on the DBS Barred List. The DBS check is free for volunteers that need it. Further information can be found on the Disclosure &amp; Barring website (<a href="https://www.gov.uk/disclosure-barring-service-check/overview" onclick="javascript:window.open('https://www.gov.uk/disclosure-barring-service-check/overview'); return false;">https://www.gov.uk/disclosure-barring-service-check/overview</a>).</p>
<p><strong>I work for a company – can employees volunteer as a small group?</strong></p>
<p>Yes you can. A successfully managed employee supported volunteering programme can be a fulfilling experience for everyone. Community Impact Bucks enables individuals and groups of employees to volunteer by matching their company’s interest with the needs of the local community or voluntary groups. If you or your employer would like further information on how to get involved, please contact <a href="mailto:info@communityimpactbucks.org.uk">info@communityimpactbucks.org.uk</a>.</p>
<p><strong> Are there any age restrictions to volunteering? </strong></p>
<p>There is no legal age limit, although organisations involving volunteers sometimes have a minimum and maximum age limit, as their insurance policy may not cover certain age groups (such as under 16s and over 80s). However volunteering should be based on the ability of a person to do the role, not their age.</p>
<p><strong>Can I volunteer if I am from overseas? </strong></p>
<p>Generally there should be no problem with an organisation accepting someone from outside the UK as a volunteer, but the individual must ensure that immigration rules allow them to do so. The following link gives further information for European citizens, refugees and asylum seekers and citizens of other countries.</p>
<p><a href="http://www.volunteering.org.uk/images/stories/Volunteering-England/Documents/Free-Information-Sheets/information_sheet_accepting_volunteers_from_outside_the_uk_2012.pdf" onclick="javascript:window.open('http://www.volunteering.org.uk/images/stories/Volunteering-England/Documents/Free-Information-Sheets/information_sheet_accepting_volunteers_from_outside_the_uk_2012.pdf'); return false;">http://www.volunteering.org.uk/images/stories/Volunteering-England/Documents/Free-Information-Sheets/information_sheet_accepting_volunteers_from_outside_the_uk_2012.pdf</a></p>
<p><strong>Can I volunteer if my faith means that I need to pray while I am volunteering? </strong></p>
<p>Yes you can. When you talk to an organisation about a potential volunteering role you can ask them what arrangements they are able to make to give you time and a space for worship.</p>
<p><strong>I’ve applied for a volunteer role but not heard anything, what do I do?</strong></p>
<p>The website <a href="http://volunteeringbucks.org.uk/">VolunteeringBucks</a> allows you to apply for a volunteer role directly with the advertising organisation. We suggest that if you have not heard anything back from them within 2 weeks that you contact Community Impact Bucks on 0300 1111 250.</p>

    </div>