<h2 class="form-header">Complete your Registration</h2>

<% if current_user.role == "Organisation" %>
  <%= render "individuals/org_fields" %>
  <% else %>
  <%= render "individuals/ind_fields" %>
<% end %>
