@import "bootstrap-sprockets";
@import "bootstrap";

html {
  position:relative;
  min-height:100%;
}

body {
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}


.total {
  margin-bottom: 0;
  background-color: white;
}

@media (min-width: 979px){

.total {
  box-shadow: 10px 3px 10px #d8d8d8, -10px 3px 10px #d8d8d8;
  margin-top: 2.5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0;
}

.left {
  float: right;
}

.right {
  float: left;
}

.logo {
  padding-left: 12%;
  height: 105%;
  width: 105%;
}

.motto {
  padding-top: 6%;
  height: 80%;
  width: 80%;
  float: left;
}

.two-buttons {
  margin-top: 3%;
  margin-bottom: 2%;
}

.bouton {
  margin-bottom: 8%;
  width: 112%;
}

.icon {
  padding-left: 10%;
}
}


.navbar {
  border: none;
  padding-top: 0.2%;
  background-color: #252161;
  padding-right: 2%;
  border-radius: 0;
}

.navbar-toggle {
  background-color: #ee4036;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #252161;;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #252161;
  }

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #ee4036;
    background-color: #252161;  
}
.nav.navbar-nav li a {
  font-size: 15px;
  color: white;
}

.nav.navbar-nav li a:visited {
  color: white;
}

.nav.navbar-nav li a:hover {
  color: #ee4036;
}

.nav.navbar-nav li a:active {
  color: #ee4036;
}

.logos {
  margin-top: 0.5%;;
  background-color: white;
  border: none;
  text-align: center;
}

.content {
  margin-top: 1.5%;
}

.dude {
  margin: auto;
  text-align: center;
}

.bigpic {
  padding-left: 0;
  padding-right: 0;
}

.bouton {
  color: white;
  background-color: #252161;
  padding-top: 2.2%;
  padding-bottom: 2.2%;
  font-size: 25px;
  border: none;
}

.bouton:hover {
  background-color: #ee4036;
  transition: border 0.4s ease 0s, background-color 0.4s ease 0s;
  transition-property: border, background-color;
  transition-duration:0.4s, 0.4s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
}

.footer {
  background-color: #252161;
  color: white;
  padding: 2%;
}

.footer-img {
  height: 90%;
  width: 90%;
  float: right;
}

.text {
  line-height: 200%;
  font-size: 11px;
}

.icons {
  font-size: 20px;
}




/* small devices */

@media (max-width: 767px) {
.navbar {
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: white;
  }

.navbar-default .navbar-nav .open .dropdown-menu > li > a:visited {
  color: white;
  }

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #ee4036;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:active {
  color: #ee4036;
}
}

@media (max-width: 978px){

.total {
  margin: 0;
}

.logo {
  margin: auto;
}

.motto {
  margin-top: 5%;
}

.two-buttons {
  margin-top: 1%;
}

.bouton {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 4%;
  margin-right: 4%;
  width: 92%;
}

.text {
  text-align: center;
}

.icon {
  padding-left: 6%;
  padding-right: 6%;
  font-size: 35px;
  color: #ee4036
}

.footer {
  margin-top: 2%;
}

.words {
  font-size: 12px;
}

}

.about {
  line-height: 150%;
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 4%;
  padding-bottom: 4%;
  font-size: 14px;
  color: #676767;
}

.red {
  color: #ee4036;;
  text-decoration: none;
}

.red:visted {
  color: #ee4036;;
  text-decoration: none;
}

.red:hover {
  color: #ee4036;;
  text-decoration: none;
}

.red:active {
  color: #ee4036;;
  text-decoration: none;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.form-control {
  background-color: #f1f1f1;
}

.control-label {
  font-size: 15px;
  font-weight: normal;
  color: #4e4e4e;
}

.form-header {
  color: #252161;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.full-form {
  padding-bottom: 3%;
}

.form-button {
  background-color: #ee4036;
  margin-top: 5%;
  border: none;
  color: white;
}

.form-button:visited {
  background-color: #ee4036;
  margin-top: 5%;
  border: none;
  color: white;
}

.form-button:hover {
  background-color: #252161;
  margin-top: 5%;
  border: none;
  color: white;
}

.form-button:active {
  background-color: #ee4036;
  margin-top: 5%;
  border: none;
  color: white;
}

.checkbox {
  padding-left: 5%;
}

.alert {
  text-align: center;
}

.subheading {
  color: #252161;
}

.subheading-center {
color: #252161;
  text-align: center;
}

a i {
  text-decoration: none;
  color: white;
}

a i:visited{
  color: white;
}

a i:hover {
  color: #ee4036;
}

a i:active {
  color: white;
}

.cookies {
  text-decoration: none;
  color: white;
}

.cookies:visited{
text-decoration: none;
  color: white;
}

.cookies:hover {
text-decoration: none;
  color: #ee4036;
}

.cookies:active {
text-decoration: none;
  color: white;
}

.center {
  text-align:center;
}

.top-pad {
  padding-top: 2%;
}

.search-pane-right {
  text-align: right;
}

.view-button {
  margin-top: 1%;
  background-color: #ee4036;
  color: white;
  border: none;
}

.view-button:visited{
  margin-top: 1%;
  background-color: #ee4036;
  color: white;
  border: none;
}

.view-button:hover {
  margin-top: 1%;
  background-color: #252161;
  color: white;
  border: none;
}

.view-button:active {
  margin-top: 1%;
  background-color: #252161;
  color: white;
  border: none;
}

.search-pane-left {
  vertical-align: top;
  padding-left: 4%;
  
}

.search-title {
  padding: 0;
  margin-bottom: 2%;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  color: #252161;
  text-decoration: none;
}

.search-title:visited {
  color: #252161;
  text-decoration: none;
}

.search-title:hover {
  color: #ee4036;
  text-decoration: none;
}

.search-title:active {
  color: #ee4036;
  text-decoration: none;
}

.form-header2 {
  color: white;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ee4036;
}
