<footer class="footer">
      <div class="container-fluid">
            <div class="row">
              <div class="col-md-1">
                <%= image_tag("footer.jpg", class: "hidden-xs hidden-sm main-img footer-img img-responsive") %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-2 col-md-push-9 icons text">
                <i class="fa fa-linkedin icon"></i>
                <i class="fa fa-facebook icon"></i>
                <i class="fa fa-twitter icon"></i>
                <i class="fa fa-rss icon"></i>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 text col-md-pull-2">© 2015 Community Impact Bucks<br/>Registered Charity No. 1070267<br/>Registered Company Limited by Guarantee No. 3508718<br/>Cookie Policy</div>
              
      </div>
    </footer>